html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: #333;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
.mo{
    display: none;
}
.demi{
    font-family: "demi";
    font-weight: 400;
}
.hero{
    height: 100vh;
    min-height: 700px;
    background: url(../img/wave_dreamy_center.gif) no-repeat 50% 50% / cover;
    color: #fff;
    margin-bottom: 3rem;
}
.common-frame{
    width: auto;
    margin: 0 3rem;
}
.hero .common-frame{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 5rem;
}
.txt-box{
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
}
.c1{
    align-self: flex-start;
    padding-left: 15rem;
}
.c2{
    align-self: center;
}
.c3{
    align-self: flex-end;
}
.name{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
    line-height: 140%;
}
.philo{
    margin-bottom: 5rem;
}
.philo h2{
    font-size: 4rem;
    line-height: 100%;
}
.philo h2:last-of-type{
    margin-bottom: 3rem;
}
.p-box{
    display: flex;
    justify-content: flex-end;
}
.p-box p{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 5rem;
}
.philo h4{
    font-weight: bold;
    margin-bottom: 1rem;
}
.resume{
    height: 100vh;
    background-color: #333;
    padding-bottom: 3rem;
}
.resume-left figure{
    padding-top: 4rem;
    margin-bottom: 1.5rem;
    line-height: 0;
}
.resume-left figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-box1{
    display: grid;
    grid-template-columns: 100px 250px;
    gap: .5rem 3rem;
}
.grid-box1 dt {
    font-weight: normal;
    color: #dbdbdb;
}
.grid-box1 dd{
    font-weight: 500;
}
.resume .common-frame{
    display: flex;
    gap: 8rem;
}
.resume-left{
    flex: 3;
    color: #fff;
    padding-left: 3rem;
}
.resume-right{
    flex: 8;
    color: #fff;
    text-transform: uppercase;
}
.gray{
    color: #dbdbdb;
}
.grid-box2{
    display: grid;
    grid-template-columns: 100px 300px 200px;
    gap: 1rem 3rem;
}
.grid-wrap h3{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.grid-wrap:first-child{
    padding-top: 7rem;
    margin-bottom: 3rem;
}
.grid-wrap section{
    text-transform: initial;
}
.resume {
    position: relative; /* 배경 글자의 기준점 설정 */
    overflow: hidden;   /* 글자가 섹션 영역 밖으로 나가지 않게 차단 */
}

.resume::before {
    /* 1. 내용 및 스타일 */
    content: "About ME";
    position: absolute;
    font-size: 10vw;
    font-weight: 900;
    color: #fff;
    white-space: nowrap;
    opacity: .2;
    top: 50%;
    left: 50%;
    z-index: 0; 
    pointer-events: none;
}
.common-frame {
    position: relative;
    z-index: 1;
}
.skills h1{
    font-size: 5rem;
    line-height: 100%;
    margin-bottom: 1rem;
    padding-top: 3rem;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem 4rem;
    padding-top: 4rem;
}
.skill-grid .desc{
    font-size: 0.8rem;
    line-height: 1.6;
    color: #191917;
    font-weight: 300;
}
.skill-grid-card .num{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    display: block;
}
.skill-grid-card h3{
    font-size: 2rem;
    border-bottom: 1px solid #00000020;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.skills{
    margin-bottom: 8rem;
}

.popup {
    padding: 2rem 0;
    color: #fff;
    margin-bottom: 5rem;
    background-color: #333;
}
.popup h2{
    font-size: 5rem;
    margin-bottom: .5rem;
}
.popup h2+p{
    margin-bottom: 3rem;
}
.popup-contents{
    display: flex;
    gap: 8rem;
}
.pop-txt {
    width: 450px;
    color: #fff;
    align-self: center;
}
.pop-station{
    width: calc(100% - 430px - 177px);
}
.pop-txt h3{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.pop-txt h3+p{
    font-size: .9rem;
    margin-bottom: 1rem;
}
.pop-txt h3+p+p {
    font-size: .9rem;
}
.popup-img-slider .swiper-wrapper{
    transition-timing-function: linear;
}

.popup-txt-slider .swiper-slide{
    background-color: #333;
    height: 100%;
}
.poster-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    gap: 5rem;
    
    /* 초기 페이드 인 준비 상태 */
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.9s ease-out;
}

/* 짝수 번째(2, 4번) 아이템 방향 반전 */
.poster-item:nth-child(even) {
    flex-direction: row-reverse;
}
.poster-item:nth-child(even) .poster-txt{
    padding-right: 0;
}
.poster-item:nth-child(odd) .poster-img{
    /* justify-items: flex-start; */
}
.poster-item:nth-child(odd){
}
.poster-item:nth-child(odd) .poster-txt{
    flex: 1.2;
}

/* 화면 중앙에 들어올 때 나타나는 클래스 */
.poster-item.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* 이미지 영역 */
.poster-img {
    justify-items: center;
    flex-shrink: 0;
}
.poster-img img {
    height: auto;
    display: block;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /* 은은한 그림자 */
}

/* 텍스트 영역 */
.poster-txt {
    flex: 1.2;
    justify-self: center;
    padding-right: 10rem;

}
.poster-txt h3 {
    font-size: 2.8rem;
    margin-bottom: 25px;
    font-weight: 800;
    color: #111;
    word-break: keep-all;
}
.poster-txt p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    word-break: keep-all; /* 단어 단위 줄바꿈 적용 */
}
.poster::before {
    content: "Poster";
    position: sticky;
    /* top: 20%; 대신 transform에서 시작 위치를 잡습니다 */
    top: 10%; 
    left: 50%;
    font-size: 15vw;
    font-weight: 900;
    color: #333;
    white-space: nowrap;
    opacity: .05;
    z-index: -1; 
    pointer-events: none;
    will-change: transform;
    
}
.poster.pc h2{
    font-size: 5rem;
    margin-bottom: .5rem;
}
.poster.pc h2+p{
    margin-bottom: 2rem;
}
.banner h2{
    font-size: 5rem;
}
.banner h2+p{
    margin-bottom: 1rem;
}
.banner{
    padding:4rem 0;
    background-color: #333;
    color:#fff;
    margin-top: 6rem;
}
.banner-slider h3{
    font-size: 1.3rem;
    font-weight: 700;
}
.banner-txt{
    margin-top: 1rem;
    display: flex;
}
.banner-txt h3{
    flex: 1;
}
.banner-txt p{
    flex: 1 ;
}
@media (max-width:1600px){
    .popup-contents{
        gap: 4rem;
    }
    .pop-txt{
        width: calc((100% - 1rem)/3);
    }
    .pop-station {
        width: calc((100% - 1rem)/3 * 2);
    }

}

@media (max-width:1440px){
    html{
        font-size: var(--basic-font-pad);
    }
    .txt-box{
        width: auto;
    }
    .c1{
        align-self: center;
        padding-left: 0rem;
    }
    .c3{
        align-self: center;
    }
    .hero h1{
        font-size: 80px;
    }
    .resume-left {
        padding-left: 0rem;
    }
    .resume .common-frame{
        gap: 3rem;
    }
    .grid-box2 {
        gap: 1rem 2rem;
    }
    .grid-box1 {
        gap: .5rem 2rem;
    }
    .grid-box2{
        grid-template-columns: 1fr 3fr 2fr;
    }

    .pop-txt {
        width: calc((100% - 1rem)/3);
    }
    
}
@media (max-width:1200px){
    .pop-txt{ 
        width: calc((100% - 1rem)/2); 
    }
    .pop-station { 
        width: calc((100% - 1rem)/2); 
    }

    .popup-contents {
        gap: 2rem;
    }
}
@media(max-width:1024px){
    html{
        font-size: var(--basic-font-pad);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
    .txt-box{
        width: auto;
    }
    .c1{
        align-self: center;
        padding-left: 0rem;
    }
    .c3{
        align-self: center;
    }
    .hero h1{
        font-size: 80px;
    }
    .philo h2{
        font-size: 60px;
    }
    .p-box p{
        font-size: 30px;
    }
    .resume .common-frame{
        gap: 1rem;
    }
    .resume-left figure {
        aspect-ratio: 300 / 431;
        height: 100%;
        max-height: 430px;
    }
    .grid-box2 {
        gap: 1rem 1rem;
        grid-template-columns: 1fr 2fr 2fr;
    }
    .grid-box1 {
        gap: .5rem 0rem;
    }
    .skill-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem 3rem;
        padding-top: 4rem;
    }
    .skills h1 {
        font-size: 4rem;
    }
    .resume{
        height: auto;
        padding-bottom: 5rem;
    }
    .popup h2 {
        font-size: 4rem;
    }
    .poster.pc h2 {
        font-size: 4rem;
    }
    .banner h2 {
        font-size: 4rem;
    }
}

@media(max-width:900px){
    .popup {
        padding: 3rem 0;
    }
}


@media(max-width:768px){
    html{
        font-size: var(--basic-font-mobile);
    }
    .pc{
        display: none;
    }
    .mo{
        display: block;
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
    .hero h1{
        font-size: 60px;
    }
    .philo h2{
        font-size: 40px;
    }
    .p-box p{
        font-size: 14px;
    }
    .resume{
        height: auto;
    }
    .resume .common-frame{
        flex-direction: column;
    }
    .resume-left{
        flex: initial;
    }
    .resume-right{
        flex: initial;
    }
    .grid-box2 {
        grid-template-columns: 1fr 3fr 2fr;
        gap: 1rem 3rem;
    }
    .grid-wrap:first-child {
        padding-top: 2rem;
    }
    .resume::before {
        display: none;
    }
    .skill-grid{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        padding-top: 4rem;
    }
    .skills h1 {
        font-size: 3rem;
    }
    .skill-grid .desc {
        font-size: 0.9rem;
    }
    .resume-left figure {
        aspect-ratio: 350 / 500;
        height: 100%;
        max-height: 500px;
        width: 100%;
    }
    .resume-left, .resume-right{
        margin: 0 1rem;
    }
    .grid-box2 {
        grid-template-columns: 2fr 1fr;
        gap: .5rem 1rem;
    }
    .grid-box2>section:nth-of-type(3n+1){grid-column: 1/3;}
    .skill-grid-card h3{
        font-size: 1.5rem;
    }
    .mg{
        margin-bottom: 1.5rem;
    }
    .popup-contents{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .pop-txt{
        width: 100%;
    }
    .pop-station{
        width: 100%;
    }
    .popup h2 {
        font-size: 3rem;
    }
    .pop-txt h3+p {
        font-size: 1rem;
    }
    .poster h2{
        font-size: 3rem;
    }
    .poster h2+p{
        margin-bottom: 2rem;
    }
    .poster-txt h3{
        font-size: 1.5rem;
        margin: 2rem 0 .5rem;
    }
    .poster-txt p {
        margin-bottom: 5rem;
    }
    .poster::before {
        display: none;
        
    }
    .banner h2 {
        font-size: 3rem;
    }
    .banner-txt{
        flex-direction: column;
        gap: .5rem;
    }
}

@media (max-width:450px){
    .philo h2 {
        font-size: 30px;
    }

}

@media(max-width:400px){
    .hero h1{
        font-size: 40px;
    }
    .common-frame p:first-child{
        text-align: center;
        margin-bottom: 3rem;
    }
    .grid-box1 {
        grid-template-columns: 1fr 3fr;
        gap: .5rem 1rem;
    }

    .grid-box2 section{
        font-size: 11px;
    }
    .skills h1 {
        font-size: 2rem;
    }
    .resume-left, .resume-right{
        margin: 0;
    }
    .grid-box2 {
        gap: .5rem 1rem;
    }
    .philo h2 {
        font-size: 20px;
    }
}
@media(max-width:300px){

    .pop-txt h3 {
        font-size: 1.2rem;
    }
}